.footer {
    .bg-dark {
        background-color: #001650 !important;
    }

    .footer-content {
        padding-top: 70px;
        padding-bottom: 70px;

        .content {
            padding-top: 20px;
            border-top: 1px solid #31557d;

            p {
                color: white;
            }

            a {
                color: #a7e9e4;
                text-decoration: none;
                margin-left: 16px;
            }
        }
    }
}